@import url("/src/App.css");
#modal-detection {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: var(--blue950);
  z-index: 1000;
}
.wallets-detection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 500px;
  height: 300px;
  background-color: var(--blue300);
  border-radius: 20px;
}
.wallets-detection h2 {
  color: var(--blue950);
  font-size: 28px;
  font-weight: bold;
}

.wallets-detection > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wallets-detection > div button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid var(--blue950);
  border-radius: 5px;
  cursor: pointer;
}

.wallets-detection > div img {
  width: 32px;
}

.wallets-detection > div strong {
  font-size: 18px;
  color: var(--blue300);
}

.wallets-detection > div span {
  font-size: 16px;
  font-weight: bold;
  color: var(--blue950);
}

.wallets-detection .change-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.wallets-detection .change-div .wrong {
  font-size: 16px;
  font-weight: bold;
  color: red;
}

.wallets-detection .change-div button {
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
